[submodule "generators/boom"]
	path = generators/boom
	url = https://github.com/riscv-boom/riscv-boom.git
[submodule "generators/rocket-chip"]
	path = generators/rocket-chip
	url = https://github.com/chipsalliance/rocket-chip.git
[submodule "generators/sifive-blocks"]
	path = generators/sifive-blocks
	url = https://github.com/sifive/sifive-blocks.git
[submodule "generators/testchipip"]
	path = generators/testchipip
	url = https://github.com/ucb-bar/testchipip.git
[submodule "tools/barstools"]
	path = tools/barstools
	url = https://github.com/ucb-bar/barstools.git
[submodule "tools/DRAMSim2"]
	path = tools/DRAMSim2
	url = https://github.com/firesim/DRAMSim2.git
[submodule "tools/frenda"]
	path = tools/frenda
	url = https://github.com/MaxXSoft/Frenda.git
[submodule "toolchains/riscv-isa-sim"]
	path = toolchains/riscv-isa-sim
	url = https://github.com/riscv-software-src/riscv-isa-sim.git
