[submodule "generators/boom"]
	path = generators/boom
	url = https://github.com/riscv-boom/riscv-boom.git
[submodule "generators/rocket-chip"]
	path = generators/rocket-chip
	url = https://github.com/chipsalliance/rocket-chip.git
[submodule "generators/sifive-blocks"]
	path = generators/sifive-blocks
	url = https://github.com/sifive/sifive-blocks.git
[submodule "generators/testchipip"]
	path = generators/testchipip
	url = https://github.com/ucb-bar/testchipip.git
